<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand pb-0" routerLink="/">
      <img src="/assets/images/logo.png" width="40" alt="">
      CoolKart
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <ng-template #anon>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li class="nav-item dropdown" *ngIf="appUser; else anon">
          <div ngbDropdown class=" d-inline-block">
            <a class="btn btn-link dropdown-toggle" ngbDropdownToggle>{{appUser.name.split(' ')[0]}}</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
              <a class="dropdown-item" routerLink="/my/orders" ngbDropdownItem>My Orders</a>
              <ng-container *ngIf="appUser.isAdmin">
                <a class="dropdown-item" routerLink="/admin/orders" ngbDropdownItem>Manage Orders</a>
                <a class="dropdown-item" routerLink="/admin/products" ngbDropdownItem>Manage Products</a>
              </ng-container>
              <a class="dropdown-item btn btn-link" (click)="logout()" ngbDropdownItem>Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>