<div class="row" *ngIf="productDetails">
  <div class="col-5">
    <img [src]="productDetails?.productImage" class="img-fluid img-thumbnail" alt="">
  </div>
  <div class="col-7" *ngIf="productDetails.productPrice">
    <h4>{{productDetails?.productTitle}}</h4>
    <p class="text-muted">{{productDetails?.productCategory | uppercase}}</p>
    <div class="mt-2" *ngIf="rating">
      <i class="fa fa-star" style="color: gold;" aria-hidden="true" *ngFor="let star of [].constructor(rating)"></i>
      <i class="fa fa-star" style="color: #eee;" aria-hidden="true" *ngFor="let star of [].constructor(5-rating)"></i>
      ({{reviewers}})
    </div>
    <h1 class="text-success mt-3"><sup>₹</sup>{{productDetails?.productPrice | localeString }}</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let description of productDetails?.productDescription">
        <small>{{description}}</small></li>
    </ul>
    <div class="w-50 cart-button">
      <button class="w-100" *ngIf="quantity === 0; else updateQuantity" mat-flat-button color="primary"
        (click)="addToCart(productDetails)">Add to cart</button>
      <ng-template #updateQuantity>
        <product-quantity [product]="productDetails"></product-quantity>
      </ng-template>
    </div>
  </div>
</div>