<div class="jumbotron bg-light">
  <h2>Shopping Cart</h2>
  <div class="card">
    <ng-container *ngIf="products">
      <div class="card-header">
        <p>
          You have {{shoppingCartItemCount}} items in your cart
        </p>
      </div>
      <div class="card-body">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col" style="width: 40%;">Product</th>
              <th scope="col" style="width: 20%;"></th>
              <th scope="col" style="width: 10%;"></th>
              <th scope="col" class="text-center" style="width: 20%;">Quantity</th>
              <th scope="col" class="text-center" style="width: 20%;">Total</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let product of products; index as i">
              <tr *ngIf="product.quantity">
                <td>{{product.product?.productTitle}}</td>
                <td>
                  <product-quantity [product]="product.product"></product-quantity>
                </td>
                <td>
                  <img [src]="product.product.productImage" class="img-fluid img-thumbnail" alt="">
                </td>
                <td class="text-center">{{product?.quantity}}</td>
                <td class="text-center">₹{{totalPrices[i] | localeString}}</td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot class="border-top">
            <th scope="row">Grand Total</th>
            <td></td>
            <td></td>
            <td></td>
            <th>₹{{grandTotal | localeString}}</th>
          </tfoot>
        </table>
      </div>
    </ng-container>
  </div>
</div>