<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
<!-- Search form -->
<div class="input-group mb-3">
    <input type="text" class="form-control" (keyup)="filterProduct($event)" placeholder="Search Product" aria-label="Search Product"
        aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
            <td>{{product.value.productTitle}}</td>
            <td>{{product.value.productPrice | currency: 'INR':'symbol':'1.0-0'}}</td>
            <td>{{product.value.productCategory | titlecase}}</td>
            <td><a class="btn btn-link" routerLink="/admin/products/{{product.key}}">Edit</a></td>
        </tr>
    </tbody>
</table>