<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="animals">Menu</button>
  <mat-menu #animals="matMenu">
    <button mat-menu-item routerLink="/">Best Sellers</button>
    <hr>
    <button mat-menu-item [matMenuTriggerFor]="categories">Categories</button>
  </mat-menu>
  <mat-menu #categories="matMenu">
    <button mat-menu-item *ngFor="let category of categories$ | async" routerLink="/"
      [queryParams]="{category: category.key}">{{category.value.name}}</button>
  </mat-menu>
</mat-toolbar>
<div class="row mt-3">
  <div class="col-2">
    <mat-card>
      Quick Selection
      <hr>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <small class="text-muted"><i class="fa fa-filter" aria-hidden="true"></i></small>
          </mat-expansion-panel-header>
          <div *ngFor="let category of categories$ | async">
            <a routerLink="/" [queryParams]="{category: category.key}">
              <small>
                {{category.value.name}}
              </small>
            </a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
  <div class="col-10">
    <div class="products-container">
      <product-card *ngFor="let product of filteredProducts" [productForm]="false" [productDetails]="product"></product-card>
    </div>
  </div>
</div>