@import '~@angular/material/theming';

@include mat-core();

$coolkart-app-primary: mat-palette($mat-blue,400);
$coolkart-app-accent: mat-palette($mat-gray, 800);
// $coolkart-app-warn: mat-palette(#fff);


$coolkart-theme: mat-light-theme($coolkart-app-primary, $coolkart-app-accent);

@include angular-material-theme($coolkart-theme);